body {
      font-family: 'Roboto', sans-serif;
  } 
  h1, h2, nav a, .logo {
    font-family: 'Bebas Neue', cursive;
  }

  header{
    a{
      transition: 0.3s;
    }
    a:hover {
      font-size: 110%;
      transition: 0.3s;
    }
  }